<nav class="navbar">
   <div id="trapezoid">
      <a class="sub-home" href="#">Home</a>
      <a href="#About" class="expandHome">About</a>
      <div class="subnav">
         <button class="subnavbtn">Clients<i class="fa fa-caret-down"></i></button>
         <div class="subnav-content">
            <div id="subnav-trapezoid">
               <a href="#Clients">Burger King</a>
               <a href="#Clients">Southwest Airlines</a>
               <a href="#Clients">Levi Strauss</a>
            </div>
         </div>
      </div>
      <div class="subnav">
         <button class="subnavbtn">Services<i class="fa fa-caret-down"></i></button>
         <div class="subnav-content">
            <div class="subnav-trapezoid">
               <a href="#Services">Print Design</a>
               <a href="#Services">Web Design</a>
               <a href="#Services">Mobile App Development</a>
            </div>
         </div>
      </div>
      <a href="https://codepen.io/pec-man" class="expandHome">Contact</a>
   </div>
</nav>

<div class="container-landing-page">

   <img src="assets/img/Asset4.png" alt="rocket image" />
   <section class="text-landing-page">
      <h1 class="title">title text</h1>
      <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam temporibus nisi, illum sunt
         placeat natus et, quidem, distinctio deserunt vero ullam aspernatur nobis nesciunt praesentium magnam
         cupiditate. Ea, tenetur dolor.</p>
      <main class="example-form">
         <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>nikname</mat-label>
            <input matInput class="nikname" placeholder="nikname" [(ngModel)]="defaultSetting.nikname">
         </mat-form-field>

         <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select class="lang" [(ngModel)]="defaultSetting.lang">
               <mat-option>None</mat-option>
               <mat-option value="en">Option 1</mat-option>
               <mat-option value="fa">Option 2</mat-option>
            </mat-select>
         </mat-form-field>

      </main>
      <button class="go-todolist">get in</button>
   </section>
</div>

<style>
   section.text-landing-page {
      width: 50%;
      display: grid;
      color: white;
      grid-gap: 1rem;
      grid-template: auto/repeat(4, auto);
      grid-template-areas: 'title title title title'
         'para para para para'
         'nikname langselect langselect .'
         'button button button .';
   }

   h1.title {
      font-size: 100px;
      color: white;
      padding-bottom: 10px;
      grid-area: title
   }

   p.paragraph {
      grid-area: para;
   }

   section.example-form {
      color: aliceblue;
   }


   input.nikname {
      grid-area: nikname;
   }

   body>app-root>div>section>main>mat-form-field.mat-form-field.ng-tns-c67-1.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-has-label.ng-untouched.ng-pristine.ng-valid.mat-form-field-should-float>div>div.mat-form-field-flex.ng-tns-c67-1 {
      grid-area: langselect;
   }

   button.go-todolist {
      grid-area: button
   }
</style>