
<main *ngIf="isLoggedIn">
 <app-aside></app-aside>
</main>

<main *ngIf="!isLoggedIn" style="background:url('assets/img/Frame.png')100% 100%;height:100vh;width:100%;display:flex;justify-content:center;">
   <div style="width:50%;height:50%">
      <mat-card>
         <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
            {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
          </button> -->
          <mat-stepper [linear]="isLinear" >
            <mat-step [stepControl]="firstFormGroup">

               <video autoplay loop>
                  <source src="assets/mp4/vid1.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>

                <div>
                  <button mat-raised-button matStepperNext>Next</button>
                </div>
           
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
               <video autoplay loop>
                  <source src="assets/mp4/vid2.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
               <button mat-raised-button matStepperNext>Next</button>
            </mat-step>
            <mat-step label="start">
               <video autoplay loop>
                  <source src="assets/mp4/vid3.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
               <button mat-raised-button matStepperNext>Next</button>
            </mat-step>
          </mat-stepper>
          
      </mat-card>
   </div>
</main>
